<h1>Wiew Post</h1>

<% posts.forEach((post,i) => { %>
  <div class="post">
    number post: <%=i+1%>
    <br>
       Post creator: <%=post.creatorId.username %>
    <br>
      <img class="imagepost" src="<%=post.picPath %>" alt="">
      <br>
        Post content: <%= post.content %>
        <!--<form action=" /post/<%=post._id%>/delete" method="POST">
                <button  type="submit">Delete artwork</button>
        </form>
        <form action=" /post/<%=post._id%>/edit" method="GET">
                <button  type="submit">Edit a post</button>
        </form>-->
        <form action=" /post/<%=post._id%>" method="GET">
                <button  type="submit">Show post details</button>
        </form>

  </div>

<% }) %>
