<strong>Show Post Details</strong>
<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">

      <div class="post">

        <br>
           <b>Post creator:</b> <%=post.creatorId.username %>
        <br>
          <img class="imagepost" src="<%=post.picPath %>" alt="">
          <br>
            <em><b>Post content:</b></em> <%= post.content %>
            <br>
            <em><b>Time creation:</b></em> <%=post.created_at%>
            <br>
            <em><b>Time updated:</b></em> <%=post.updated_at%>

          <!-- Show coments -->


          <hr>
          <h4>Coments</h4>
          <ul>
            <% post.coments.forEach((coment,i) => { %>
              <li>
                <i>Coment number: <%=i+1%></i>
                <p><%= coment.content %></p>
                <strong>Coment Author: <%= coment.authorId.username %></strong>
              </li>
            <%  }); %>
          </ul>


          <!--first, if user exist, then compares-->
          <%if (user&&user.username===post.creatorId.username){%>
            <form action=" /post/<%=post._id%>/delete" method="POST">
                    <button  type="submit">Delete post</button>
            </form>

            <form action=" /post/<%=post._id%>/edit" method="GET">
                    <button  type="submit">Edit content post</button>
            </form>
          <%}%>

          <form action=" /post" method="GET">
                  <button  type="submit">Return list of posts </button>
          </form>

          <form action=" /coment/<%=post._id%>/coment/new" method="GET">
                  <button  type="submit">Coment this post </button>
          </form>

      </div>

    </div>
  </div>
</div>
